body{
    background: url("marvel-civil-war.jpg");
    background-size: 100%;
    position: absolute;
    top: 0px;
    z-index: -1;
}
#light{    
    position: relative;
    width: 90%;
}
#teamIron{
    position: relative;
    top:100px;
}
#teamCap{
    position: relative;
    top:100px;
}
.teams{    
    width:150px;
    height:120px;
    border: 2px solid white;
    position: relative;
    
}
.sign{
    width: 150px;
    height: 150px;
    border: white solid;
    border-width: 5px;
    position: relative;
    top: 30px;
    left: 30px;
}
#wins{
    width:540px;
    top: 65%;
    left: 50%;
    margin:-250px 0 0 -250px;
    border: 5px white;
    position:fixed;
}

